img {
	margin-bottom: 1.5rem;
}

input.temperature {
    width: 3.5rem;
    display: inline-block;
    height: 16px;
    margin: 4px;
}
span.label {
	min-width: 11rem;
    display: inline-block;
}

img:hover {
	filter: drop-shadow(0 0 2em #673ab8aa);
}

button {
  background-color: #008CBA; 
  border: none;
  color: white;
  padding: 9px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.resource:hover {
	border: 1px solid #000;
	box-shadow: 0 25px 50px -12px #673ab888;
}


.dict-select {
    height: 24px;
	min-width: 125px;
	margin-left: 4px;
}

.error.show {
	display: block;
	color: red;
	font-weight: 500;
}

.error.hide {
	display: none;
}

/* @media (max-width: 639px) {
	.settings section {
		margin-top: 3rem;
		grid-template-columns: 1fr;
} */

