.settings section {
    margin-top: 3rem;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    flex-direction: column;
}

h2 {
	padding-top: 1.5rem;;
}

h3, ul {
    margin-block-start: 0.2rem;
    margin-block-end: 0.2rem;
}

h4, h5 {
    margin-block-end: 0.2rem;
}

.field {
	font-weight: bold;
	width: 50%;
	min-width: 50px;
	text-align: left;
	padding-left: 5px;
}

.field.correct {
	margin-left: 0.2rem;
	font-weight: bold;
	color: blue;
}

.field.incorrect {
	margin-left: 0.2rem;
	font-weight: bold;
	color: red;
}

.tryb-pracy {
	display: flex;
	justify-content: flex-end
}

.resource {
	padding: 0.75rem 1.5rem;
	min-width:50rem;
	border-radius: 0.5rem;
	text-align: left;
	text-decoration: none;
	color: #222;
	background-color: #f1f1f1;
	border: 1px solid transparent;
}

.resource:hover {
	border: 1px solid #000;
	box-shadow: 0 25px 50px -12px #673ab888;
}

table {
	width: 40%;
	border-collapse: collapse;
	margin: 5px 0;
}

td.label {
	width: 50%;
	min-width: 120px;
	text-align: right;
}

tr {
	display: flex;
	justify-content: space-between;
}

tr.left {
	display: flex;
	justify-content: flex-start;
}

td {
	border: none;
}


td img[src*="svg"] {
	height: 26px;
	vertical-align:middle;
	margin-bottom: 0rem;
}

th, td {
	padding: 2px;
	text-align: left;
	padding-right: 10px;
}

.hp-data {
	display: flex;
	flex-direction: row;
    align-items: flex-start;
}

.heat {
	display: flex;
}

.heat.body {
	display: flex;


.heat.table {
	width: 100%;
	display: flex;
	min-width: 100px;
	align-items: center;
}
}

.heat.footer,
.heat.head {
    display: flex;	
    height: 2rem;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;;
}

img.field {
	width: 20px;
}

@media (max-width: 639px) {
	.settings section {
		margin-top: 5rem;
		grid-template-columns: 1fr;
		row-gap: 1rem;
	}
}

@media (prefers-color-scheme: dark) {
	.resource {
		color: #ccc;
		background-color: #161616;
	}
	.resource:hover {
		border: 1px solid #bbb;
	}
}
